<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipkart</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <nav>
        <p>Flipkart</p>
        <p>Explore Plus</p>

        <input type="search" placeholder="Search for products, brands and more">
        <button>Search</button>

        <img class="icons" src="../img/seller_icon.png" alt="Seller">
        <p>Become a Seller</p>
        
        <img class="icons" src="../img/signin_icon.png" alt="Sign In">
        <p>Sign In</p>

        <select name="sign-in" id="sign-in">
            <option value="profile">My Profile</option>
            <option value="plus-zone">Flipkart Plus Zone</option>
            <option value="orders">Orders</option>
            <option value="wishlist">Wishlist</option>
            <option value="rewards">Rewards</option>
            <option value="gift">Gift Cards</option>
            <option value="notifications">Notifications</option>
            <option value="logout">Logout</option>
        </select>

        <img class="icons" src="../img/cart_icon.png" alt="Cart">
        <p>Cart</p>

        <img class="icons" src="../img/3_dots_horizontal.png" alt="More">
    </nav>
    <a href="signin.html"><h2>Sign In</h2></a>
</body>
</html>